body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

#map {
  height: 500px;
  width: 90%;
  margin: 20px auto;
  border: 2px solid #aaa;
  border-radius: 8px;
}
